*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(230, 232, 235);
}
#navDiv{
    height: 60px;
    background-color: #0F1111;
    border: 3px solid white;
}

#name{
    color: #F08804;
    text-decoration: none;
    font-size: 18px;
    margin-right: 200px;
    margin-left: 20px;
}

#account{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}

#myCart{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}

#contactUs{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}

#search{
    margin-top: 10px;
}

#btnSearch{
    color: white;
    background-color: #F08804;
}