*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

a{
    text-decoration: none;
}

span{
    font-size: 0.7rem;
}


/* white rectangle border */
.whiteBorder{
    border: 1.5px solid transparent;
}

.whiteBorder:hover{
    border: 1.5px solid white;
}

/* nav bar */
.navBar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* nav logo */

.nav-logo{
    height: 35px;
    width: 95px;
    margin-left: 25px;
    display: flex;
    position: relative;
    bottom: 0px;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url("../images/amazon-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* nav-address */
.nav-address{
    margin-left: 8px;
    padding: 4px;
}

.add-icon-text{
    display: flex;
    align-items: center;
}

.text-lebel-DeliverTo{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.text-location{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3px;
}

/* nav-search */

.nav-search{
    margin-left: 8px;
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid rgb(255, 145, 0);
    border-radius: 6px;
}

.search-select{
    background-color: #c4c1c1;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: inline-block;
    background-color: #F3A847;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    color: black;
}

/* nav-signin */
.nav-signin{
    padding: 4px;
}

.text-lebel-AccList{
    font-size: 0.85rem;
    font-weight: 700;
}

/* nav-return-Order */
.nav-return-Order{
    padding: 4px;
}

.text-lebel-Orders{
    font-size: 0.85rem;
    font-weight: 700;
}

/* nav cart */
.nav-cart{
    padding: 4px;
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 25px;
}




/* panel */
.nav-panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white; 
    align-items: center;
    justify-content: space-evenly;
}

.nav-panel-Left{
    display: flex;
}

.nav-panel-Left p{
    margin-left: 4px;
}

.nav-panel-mid-panelOption{
    width: 70%;
}

.nav-panel-mid-panelOption p{
    display: inline;
    margin: 0px 8px;
    font-weight: 600;
    font-size: 0.85rem;
    align-items: center;
}

.nav-panel-right-deals{
}

.nav-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/*  hero sectin */
.hero-section{
    height: 320px;
    /* background-image: url("https://m.media-amazon.com/images/I/7130x7c9NmL._SX3000_.jpg"); */
    background-image: url('../images/baner01.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    border-radius: 4px;
}

.hero-msg a {
    color: #007185;
}

/* shop-section */
.shop-section{
    display: flex;
    background-color: #e2e7e6;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productsContainerBox{
    height: 400px;
    width: 22%;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productsContainer{
    margin: 10px 20px;
}

.box-heading{
    height: 56px;
    margin-bottom: 10px;
}

.box-img-layout {
    margin: 10px 0px;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
}

.productsContainerBox p {
    margin: 5px 0px;
    
}

.productsContainerBox a {
    font-size: 0.75rem;
    color: #007185;
}

/* add product img by category */
.img1 {
    background-image: url("../images/products_fashion_trends.jpg");
}
.img2 {
    background-image: url("../images/products_personal_care.jpg");
}
.img3 {
    background-image: url("../images/products_toys.jpg");
}
.img4 {
    background-image: url("../images/product_home_essentials.jpg");
}
.img5 {
    background-image: url("../images/products_gaming.jpg");
}
.img6 {
    background-image: url("../images/product_home_kitchen.jpg");
}
.img7 {
    background-image: url("../images/product_amazon_basis.jpg");
}
.img8 {
    background-image: url("../images/products_new_year_now.jpg");
}



footer{
    margin-top: 20px;
    background-color: #e2e7e6;
}

/* foot-panel1 */
.foot-panel1{
    background-color: #374751;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 700;
}

/* foot-panel2 */
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex; 
    justify-content: space-evenly;
    align-items: start;
}

.foot-panel2 ul{
    margin-top: 50px;
}

.foot-panel2 p {
    font-weight: 700;
}

ul a{
    margin-top: 8px;
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
}

ul a:hover{
    text-decoration: underline;
}

/* foot-panel3 */
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot3-logo{
    height: 50px;
    width:100px;
    background-image: url("../images/amazon-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* foot-panel4 */

.foot-panel4{
    height: 80px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foot-options a{
    color: white;
    justify-content: space-evenly;
    font-size: 0.85rem;
    margin: 0px 10px;
}

.foot-options a:hover{
    text-decoration: underline;
}

.copyRight p{
    padding-top: 5px;
    font-size: 0.85rem;
}